.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.section__div{
    display:flex;
    align-items: top;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.section__h2{
    height:1.8em;
    background: rgb(78, 75, 75);
    font-size: 2em;
    display: flex;
    align-items: center;
    padding-left: .5em;
}

.img{
    width: 12em;   
    float: left;
    justify-self: top;
    height: 15em;
    float: left;
}

.img-css{
    width: 10em;
    margin-right: 1.2em;
}