.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__div {
  width: 80%;
}

.section__h2 {
  height: 1.8em;
  width: 90%;
  background: rgb(112, 110, 110);
  font-size: 2em;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
}

.img {
  width: 10em;
  float: left;
  justify-self: top;
  height: 12em;
  padding: 0.5em;
}

.img-css {
  width: 8em;
  margin-right: 1.2em;
  margin-left: 1.2em;
}
